//------------------------------
//	ICON FONT
//------------------------------

@font-face {
	font-family: 'icomoon';
	src:url('../icons/icomoon.eot');
	src:url('../icons/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../icons/icomoon.woff') format('woff'),
		url('../icons/icomoon.ttf') format('truetype'),
		url('../icons/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icomoon';
	font-weight: normal;
	line-height: 1;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}




//------------------------------
//	MAIN STYLES
//------------------------------
* {
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
}




//------------------------------
//		NAV STYLES
//------------------------------

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 3.6em;

	z-index: 1;

	background-color: #3D3938;
	*background-color: #3D3938;
	background-image: -moz-linear-gradient(top, #595352, #3D3938);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#595352), to(#3D3938));
	background-image: -webkit-linear-gradient(top, #595352, #3D3938);
	background-image: -o-linear-gradient(top, #595352, #3D3938);
	background-image: linear-gradient(to bottom, #595352, #3D3938);

	.trademark {
		height: 3em;
		margin: .1em 0 0 2em;
	}

	.header-icon {
		display: none;
	}

	ul {
		margin-top: 1em;
		float: right;
		margin-right: 1em;

		li {
			display: inline-block;
			padding: 0 1em;
		}

		a {
			color: white;
			text-decoration: none;
			font: 400 .9em "Roboto Slab", Georgia, serif;

			&:hover {
				color: #CCC;
			}
		}
	}
}