// Colors

$dark-gray: #4B4645;
$light-gray: #7A7270;

$theme: #52C0AB;
$theme-mid: #4F8378;

$blue: #4FAEE2;
$orange: #F47F49;
$yellow: #FBB251;
$purple: #704D9F;
$green: #2FAC4A;
$pink: #F27179;

$blue-mid: #4D7A94;
$orange-mid: #A06347;
$yellow-mid: #A37C4B;
$purple-mid: #5E4A72;
$green-mid: #3D7948;
$pink-mid: #9F5C5F;

// Fonts

$titillium-stack: "Titillium Web", Tahoma, sans-serif;
$roboto-stack: "Roboto Slab", Georgia, serif;