//------------------------------
//	NEED JAVASCRIPT
//------------------------------

#need-js {
	z-index: 20;
	background: rgba(0, 0, 0, .7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	
}

#js-error-text {
	text-align: center;
	font: 2em $roboto-stack;
	color: white;

	width: 100%;
	height: 3em;
	margin-top: 4em;
}




//------------------------------
//	MAP STYLES
//------------------------------

#map-canvas {
	margin-top: 3.6em;
	height: 100%;
	width: 75%;
}




//------------------------------
//	SIDEBAR STYLES
//------------------------------

.sidebar {
	width: 25%;
	background: $dark-gray;
	scroll: auto;
	min-height: 100%;
	max-height: 100%;
	float: right;

	.header {
		overflow: hidden;
		background: $light-gray;
		width: 100%;
		margin: .75em 0;

		&.first {
			margin: 0 0 .75em 0;
		}

		.text {
			width: 100%;
			margin: 0 0 0 1em;

			color: white;
			font: 1em $titillium-stack;
			font-weight: 400;
		}
	}
}




//------------------------------
//	OPTION SELECTORS 
//------------------------------

.option {
	width: 85%;
	margin: .75em 5%;
	padding: .2em 0 .2em 5%;

	color: white;
	font: 1.4em $titillium-stack;
	font-weight: 200;
	letter-spacing: .02em;

	.icon {
		font-size: .9em;
	}

	&.event {

		&.music {
			background: $blue;
			&:hover {
				background: $blue-mid;
			}
		}

		&.food {
			background: $orange;
			&:hover {
				background: $orange-mid;
			}
		}

		&.art {
			background: $green;
			&:hover {
				background: $green-mid;
			}
		}

		&.events {
			background: $purple;
			&:hover {
				background: $purple-mid;
			}
		}

		&.festivals {
			background: $pink;
			&:hover {
				background: $pink-mid;
			}
		}

		&.parks {
			background: $yellow;
			&:hover {
				background: $yellow-mid;
			}
		}
		
		&.disabled {
			background: $dark-gray;
		}

	}

	&.location {

		&.disabled {
			background: $dark-gray;
		}
		
		background: $theme;

		&:hover {
			background: $theme-mid;
		}

		
		
	}	
}




//------------------------------
//	ICONS 
//------------------------------

.icon-music:before {
	content: "\e601";
}

.icon-food:before {
	content: "\e603";
}

.icon-events:before {
	content: "\e605";
}

.icon-festivals:before {
	content: "\e604";
}

.icon-art:before {
	content: "\e020";
}

.icon-parks:before {
	content: "\e606";
}

.icon-pin:before {
	content: "\e602";
}
