//------------------------------
//	MAP STYLES
//------------------------------

#map-canvas {
	margin-top: 3.6em;
	height: 100%;
	width: 75%;
}




//------------------------------
//	SIDEBAR STYLES
//------------------------------